html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-align: center;
}

body * {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: cyan;
  text-decoration: none;
}

small {
  display: inline-block;
  text-align: justify;
  max-width: 400px;
  width: 80%;
  font-size: 12px;
  color: #757575;
}

button,
.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid cyan;
  background: transparent;
  font-size: 16px;
  padding: 8px;
  border-radius: 3px;
  width: 200px;
  text-transform: capitalize;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background: cyan;
  color: black;
}

.sushi-detail {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 16px;
  padding: 0 16px;
  align-items: center;
  justify-content: start;
  text-align: left;
  margin-bottom: 16px;
  max-width: 400px;
}

.image-container {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img {
  max-width: 100%;
}

p {
  line-height: 23px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li + li {
  margin-top: 8px;
}

.sushi-machine {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.rice {
  width: 80px;
  height: 20px;
  background-color: #fff;
  border-bottom: 4px solid #ddf5f1;
  border-radius: 6px;
  transform-origin: center bottom;
  animation: rice 1.6s infinite;
}
.rice:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
.neta {
  width: 88px;
  height: 20px;
  border-top: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px 80px 0 20px;
  background: repeating-linear-gradient(
    45deg,
    #ff8c08,
    #ff8c08 10px,
    #ffe771 10px,
    #ffe771 14px
  );
  z-index: 10;
  transform-origin: center -10vh;
  animation: neta 1.6s ease-in infinite;
}
.sushi {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 20px;
  background-color: #fff;
  border-bottom: 4px solid #ddf5f1;
  border-radius: 0 0 6px 6px;
  animation: sushi 1.6s infinite forwards;
  animation-delay: 0.8s;
}
.sushi:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
.sushi:after {
  content: '';
  display: block;
  box-sizing: inherit;
  position: absolute;
  bottom: 100%;
  left: -4px;
  width: 88px;
  height: 20px;
  border-top: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px 80px 0 20px;
  background: repeating-linear-gradient(
    45deg,
    #ff8c08,
    #ff8c08 10px,
    #ffe771 10px,
    #ffe771 14px
  );
}
.table {
  opacity: 1;
  width: 100%;
  max-width: 400px;
  height: 20px;
  background-color: #f5eab9;
  border-bottom: 6px solid #fbd991;
}
@-moz-keyframes neta {
  0% {
    transform: scale(0) translate(0, -5vh);
  }
  50% {
    transform: scale(1) translate(0, -5vh);
  }
  90% {
    transform: scale(1) translate(0, 1.5vh);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
@-webkit-keyframes neta {
  0% {
    transform: scale(0) translate(0, -5vh);
  }
  50% {
    transform: scale(1) translate(0, -5vh);
  }
  90% {
    transform: scale(1) translate(0, 1.5vh);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
@-o-keyframes neta {
  0% {
    transform: scale(0) translate(0, -5vh);
  }
  50% {
    transform: scale(1) translate(0, -5vh);
  }
  90% {
    transform: scale(1) translate(0, 1.5vh);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
@keyframes neta {
  0% {
    transform: scale(0) translate(0, -5vh);
  }
  50% {
    transform: scale(1) translate(0, -5vh);
  }
  90% {
    transform: scale(1) translate(0, 1.5vh);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
@-moz-keyframes rice {
  0% {
    transform: scaleY(1) translateX(288px);
  }
  50%,
  80% {
    transform: scaleY(1) translateX(0);
  }
  95% {
    transform: scaleY(0.8) translateX(0);
  }
  100% {
    transform: scaleY(1) translateX(0);
  }
}
@-webkit-keyframes rice {
  0% {
    transform: scaleY(1) translateX(288px);
  }
  50%,
  80% {
    transform: scaleY(1) translateX(0);
  }
  95% {
    transform: scaleY(0.8) translateX(0);
  }
  100% {
    transform: scaleY(1) translateX(0);
  }
}
@-o-keyframes rice {
  0% {
    transform: scaleY(1) translateX(288px);
  }
  50%,
  80% {
    transform: scaleY(1) translateX(0);
  }
  95% {
    transform: scaleY(0.8) translateX(0);
  }
  100% {
    transform: scaleY(1) translateX(0);
  }
}
@keyframes rice {
  0% {
    transform: scaleY(1) translateX(288px);
  }
  50%,
  80% {
    transform: scaleY(1) translateX(0);
  }
  95% {
    transform: scaleY(0.8) translateX(0);
  }
  100% {
    transform: scaleY(1) translateX(0);
  }
}
@-moz-keyframes sushi {
  0%,
  49% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-288px);
  }
}
@-webkit-keyframes sushi {
  0%,
  49% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-288px);
  }
}
@-o-keyframes sushi {
  0%,
  49% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-288px);
  }
}
@keyframes sushi {
  0%,
  49% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-288px);
  }
}
